<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>fetchEmployee</servlet-name>
        <servlet-class>com.controllers.fetchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthUserServlet</servlet-name>
        <servlet-class>com.controllers.AuthUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.controllers.admin.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFunctions</servlet-name>
        <servlet-class>com.model.functions.CustomerFunctions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchCustomer</servlet-name>
        <servlet-class>com.controllers.fetchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crudEmployee</servlet-name>
        <servlet-class>com.admin.crudEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crudCustomer</servlet-name>
        <servlet-class>com.admin.crudCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>com.controllers.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifications</servlet-name>
        <servlet-class>com.controllers.notifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quoteEmployee</servlet-name>
        <servlet-class>com.controllers.quoteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmail</servlet-name>
        <servlet-class>com.controllers.sendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fetchEmployee</servlet-name>
        <url-pattern>/fetchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthUserServlet</servlet-name>
        <url-pattern>/AuthUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFunctions</servlet-name>
        <url-pattern>/CustomerFunctions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchCustomer</servlet-name>
        <url-pattern>/fetchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crudEmployee</servlet-name>
        <url-pattern>/crudEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crudCustomer</servlet-name>
        <url-pattern>/crudCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifications</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quoteEmployee</servlet-name>
        <url-pattern>/quoteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmail</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
