<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Poo BabySitting</title>
        <link rel="icon" href="../resources/images/baby-solid.svg" sizes="any" type="image/svg+xml">
        <!--<link rel="icon" href="icon_path" type="image/icon type">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="../resources/css/homeCss.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/dashboard.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
        <!-- Font Awesome JS -->
        <!--        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    </head>
    <body>
        <div class="fluid-container">
            <header class="shadow">
                <nav class="navbar navbar-light bg-white">
                    <a class="navbar-brand customIcon"> Poo-<i class="fas fa-baby"></i>-Sitting</a>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 border-bottom bg-light" type="search" placeholder="Search.." aria-label="Search" style="width: 150px">
                        <a href="search.html" style="text-decoration: none;color: white">
                            <button type="button" class="btn btn-outline-secondary my-2 my-sm-0 border-0"><i class="fas fa-search"></i></button>
                        </a>
                        <span>
                            <i class="fas fa-user"></i>
                        </span>
                    </form>
                </nav>
            </header>
            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa fa-bars"></i> &nbsp;Menu
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                        Dashboard <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                        Orders
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                        Products
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                        Customers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                        Reports
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                                        Integrations
                                    </a>
                                </li>
                            </ul>
<!--
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Saved reports</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        Last quarter
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        Social engagement
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        Year-end sale
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </nav>

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <div class="px-5">
                            <h2 class="h2">Dashboard</h2>
                            <h4 class="h4">Customer Users</h4>
                            <table id="customerTable" class=" w-100 table table-bordered table-sm table-responsive-lg rounded">
                                <thead>
                                    <tr class="table-secondary font-weight-bold">
                                        <td scope="col">Id</td>
                                        <td>Name</td>
                                        <td>Contact</td>
                                        <td>Email</td>
                                        <td>Address</td>
                                        <td>Pincode No.</td>
                                        <td>Age</td>
                                        <td>Gender</td>
                                        <td>Password</td>
                                        <td>No. Of Kids</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <br/>
                            <br/>
                            <br/>
                            <h4 class="h4">Employee Users</h4>
                            <table id="employeeTable" class="table table-bordered table-sm table-responsive-lg w-100 rounded">
                                <thead>
                                    <tr class="table-secondary font-weight-bold">
                                        <td scope="col">Id</td>
                                        <td>Name</td>
                                        <td>Contact</td>
                                        <td>Email</td>
                                        <td>Address</td>
                                        <td>Pincode No.</td>
                                        <td>Age</td>
                                        <td>Gender</td>
                                        <td>Password</td>
                                        <td>Skills</td>
                                        <td>Bio</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <div id="editCustModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="h2">Customer</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input id="modal1Id" type="hidden" value=""/>
                            <div class="form-group row">
                                <label  class="col-2 col-form-label">Name:</label>
                                <div class="col-4">
                                    <input id="modal1Name" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Contact:</label>
                                <div class="col-4">
                                    <input id="modal1Contact" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Address:</label>
                                <div class="col-10">
                                    <input id="modal1Address" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Email:</label>
                                <div class="col-4">
                                    <input id="modal1Email" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Pincode:</label>
                                <div class="col-4">
                                    <input id="modal1Pincode" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Password:</label>
                                <div class="col-10">
                                    <input id="modal1Name" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Gender:</label>
                                <div class="col-10">
                                    <input id="modalGender" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">No. Of Kids:</label>
                                <div class="col-4">
                                    <input id="modal1noOfKids" class="form-control" placeholder="" value="">
                                </div>
                            </div>

                            <div class="form-group row justify-content-end px-2">
                                <button class="btn btn-pink btn-sm col-lg-4 col-sm-10">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="editEmpModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="h2">Employee</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input id="modalId" type="hidden" value=""/>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Name:</label>
                                <div class="col-4">
                                    <input id="modal2Name" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Contact:</label>
                                <div class="col-4">
                                    <input id="modal2Contact" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Address:</label>
                                <div class="col-10">
                                    <textarea id="modal2Address" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Email:</label>
                                <div class="col-4">
                                    <input id="modal2Email" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Pincode:</label>
                                <div class="col-4">
                                    <input id="modal2Pincode" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Password:</label>
                                <div class="col-4">
                                    <input id="modal2Name" class="form-control" placeholder="" value="">
                                </div>
                                <label class="col-2 col-form-label">Gender:</label>
                                <div class="col-4">
                                    <input id="modal2Gender" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Skills:</label>
                                <div class="col-10">
                                    <input id="modal2skills" class="form-control" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Bio:</label>
                                <div class="col-10">
                                    <textarea id="modal2bio" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row justify-content-end px-2">
                                <button class="btn btn-pink btn-sm col-lg-4 col-sm-10">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                var empList;
                var htmlCode;

                $.ajax({
                    method: "POST",
                    url: "/pooBabySitting/fetchEmployee",
                    dataType: 'JSON'
//        data: {name: "John", location: "Boston"}
                }).done(function (data) {
                    console.log(data);
                    empList = data;
                    var empImage;

                    $('#employeeTable').find('tbody').empty()
                    $.each(empList, function (i, emp) {
                        if (emp.profileImage && emp.profileImage.binaryData.length > 0) {
                            empImage = 'data:image/jpg;base64,' + btoa(String.fromCharCode.apply(null, new Uint8Array(emp.profileImage.binaryData)));
                        } else {
                            empImage = '../resources/images/profile.svg';
                        }

                        htmlCode = `
                                    <tr 
                                        data-userId="${emp.userId}" data-name="${emp.name}" data-address="${emp.address.split(' ')[emp.address.split(' ').length - 1]}" 
                                        data-email="${emp.email}" data-contact="${emp.contact}" data-pincode="${emp.pincode}"
                                        data-gender="${emp.gender}" data-age="${emp.age}" data-skills="${emp.skills}" data-bio="${emp.bio}"
                                        >
                                        <td>${emp.userId}</td>
                                        <td>${emp.name}</td>
                                        <td>${emp.email}</td>
                                        <td>${emp.address.split(' ')[emp.address.split(' ').length - 1]}</td>
                                        <td>${emp.contact}</td>
                                        <td>${emp.pincode}</td>
                                        <td>${emp.gender}</td>
                                        <td>${emp.age}</td>
                                        <td> ****** </td>
                                        <td>${emp.skills}</td>
                                        <td style=" ">
                                                ${emp.bio.slice(0, 20) + "..."}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-pencil-alt text-success cursorOnHover editEmployeeIcon"></i> |
                                            <i class="fas fa-trash-alt text-danger cursorOnHover deleteEmployeeIcon"></i>
                                        </td>
                                    </tr>
                        `;

                        $('#employeeTable').find('tbody').append(htmlCode);
                    });
                }).fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus.reponseText());
                });


                $.ajax({
                    method: "POST",
                    url: "/pooBabySitting/fetchCustomer",
                    dataType: 'JSON'
//        data: {name: "John", location: "Boston"}
                }).done(function (data) {
                    console.log(data);
                    empList = data;
                    var empImage;

                    $('#customerTable').find('tbody').empty()
                    $.each(empList, function (i, emp) {
                        if (emp.profileImage && emp.profileImage.binaryData.length > 0) {
                            empImage = 'data:image/jpg;base64,' + btoa(String.fromCharCode.apply(null, new Uint8Array(emp.profileImage.binaryData)));
                        } else {
                            empImage = '../resources/images/profile.svg';
                        }

                        htmlCode = `
                                    <tr 
                                        data-userId="${emp.userId}" data-name="${emp.name}" data-address="${emp.address.split(' ')[emp.address.split(' ').length - 1]}" 
                                        data-email="${emp.email}" data-contact="${emp.contact}" data-pincode="${emp.pincode}"
                                        data-gender="${emp.gender}" data-age="${emp.age}" data-noofkids="${emp.noOfKids}"
                                        >
                                        <td>${emp.userId}</td>
                                        <td>${emp.name}</td>
                                        <td>${emp.email}</td>
                                        <td>${emp.address.split(' ')[emp.address.split(' ').length - 1]}</td>
                                        <td>${emp.contact}</td>
                                        <td>${emp.pincode}</td>
                                        <td>${emp.gender}</td>
                                        <td>${emp.age}</td>
                                        <td> ****** </td>
                                        <td>${emp.noOfKids}</td>
                                        <td class="text-center">
                                            <i class="fa fa-pencil-alt text-success cursorOnHover editCustomerIcon"></i> |
                                            <i class="fas fa-trash-alt text-danger cursorOnHover deleteCustomerIcon"></i>
                                        </td>
                                    </tr>
                        `;
                        $('#customerTable').find('tbody').append(htmlCode);
                    });
                }).fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus.reponseText());
                });


                $(document).on('click', '.editEmployeeIcon', function () {
                    var row = $(this).parents('tr');
                    $('#modal2Id').val(row.data('userid'));
                    $('#modal2Name').val(row.data('name'));
                    $('#modal2Address').val(row.data('address'));
                    $('#modal2Contact').val(row.data('contact'));
                    $('#modal2Email').val(row.data('email'));
                    $('#modal2Pincode').val(row.data('pincode'));
                    $('#modal2Gender').val(row.data('gender'));
                    $('#modal2Age').val(row.data('age'));
                    $('#modal2skills').val(row.data('skills'));
                    $('#modal2bio').val(row.data('bio'));
                    $('#editEmpModal').modal('show');
                });
                $(document).on('click', '.editCustomerIcon', function () {
                    var row = $(this).parents('tr');
                    $('#modal1Id').val(row.data('userid'));
                    $('#modal1Name').val(row.data('name'));
                    $('#modal1Address').val(row.data('address'));
                    $('#modal1Contact').val(row.data('contact'));
                    $('#modal11Email').val(row.data('email'));
                    $('#modal1Pincode').val(row.data('pincode'));
                    $('#modal1Gender').val(row.data('gender'));
                    $('#modal1Age').val(row.data('age'));
                    $('#modal1noOfKids').val(row.data('noofkids'));
                    $('#editCustModal').modal('show');
                });

                $(document).on('click', '.deleteEmployeeIcon', function () {
                    var row1 = $(this).parents('tr');
                    var id = $(this).parents('tr').data('userid');
                    if (id) {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    method: "DELETE",
                                    url: "/pooBabySitting/crudEmployee?id=" + id,
                                    dataType: 'JSON'
                                            //data: {name: "John", location: "Boston"}
                                }).done(function (data) {
                                    //code
                                    if (data != "Error") {
                                        Swal.fire(
                                                'Deleted!',
                                                'Your record has been deleted.',
                                                'success'
                                                )
                                        row1.remove();
                                    }
                                }).fail(function (jqXHR, textStatus) {
                                    alert("Request failed: " + textStatus.reponseText());
                                });
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
//                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    }
                });
                $(document).on('click', '.deleteCustomerIcon', function () {
                    var id = $(this).parents('tr').data('userid');
                    var row1 = $(this).parents('tr');
                    if (id) {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    method: "DELETE",
                                    url: "/pooBabySitting/crudCustomer?id=" + id,
                                    dataType: 'JSON'
                                            //data: {name: "John", location: "Boston"}
                                }).done(function (data) {
                                    //code
                                    if (data != "Error") {
                                        Swal.fire(
                                                'Deleted!',
                                                'Your record has been deleted.',
                                                'success'
                                                )
                                        row1.remove();
                                    }
                                }).fail(function (jqXHR, textStatus) {
                                    alert("Request failed: " + textStatus.reponseText());
                                });
                            }
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
//                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    }
                });
            });
        </script>
    </body>
</html>